{
  email gabrielsmith99@gmail.com
}

shiftpilot.me, www.shiftpilot.me {
  encode gzip

  @api path /api/*
  handle @api {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}
